<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Signup confirmation</title>
</head>
<body style="padding: 0; margin: 0; background: #FFFFFF; font-family: sans-serif;">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td>
                    	<p>
                    		<span style="display: inline-block; font-weight: bold; background-color: #00265c; padding: 5px 8px; color: #FFFFFF">
                    			${server.portal}
                			</span>
                    	</p>
                    	<h3>Signup confirmation</h3>
                    	<p>
                    		Thank you for your registration at
                    		<a style="color: #0077cc" href="${server.url}">${server.portal}</a>!<br>
                        	To activate your account, please follow the link below:
                        </p>
                        <p>
                        	<a href="${server.url}/security/signup/confirm/${message.token}" style="color: #0077cc">
                        		${server.url}/security/signup/confirm/${message.token}
                    		</a>
						</p>
                    	<p>
                            Cheers,
                        </p>
                        <p>
                            <a style="color: #0077cc" href="${server.url}">${server.portal}</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>